CompileFlags:
  Add:
    # --- Paste the ESP-IDF path you copied below ---
    - -I/home/matthew/.platformio/packages/framework-espidf@3.50201.240515/components/esp_common/include
    - -I/home/matthew/.platformio/packages/framework-espidf@3.50201.240515/components/esp_system/include
    - -I/home/matthew/.platformio/packages/framework-espidf@3.50201.240515/components/log/include
    - -I/home/matthew/.platformio/packages/framework-espidf@3.50201.240515/components/newlib/platform_include
    - -I/home/matthew/.platformio/packages/framework-espidf@3.50201.240515/components/freertos/config/include/freertos
    - -I/home/matthew/.platformio/packages/framework-espidf@3.50201.240515/components/freertos/esp_additions/include/freertos
    # --- Add other required ESP-IDF component include paths here ---
    # Example:
    # - -I/home/matthew/.platformio/packages/framework-espidf@<YOUR_VERSION>/components/nvs_flash/include
